@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model List<string>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Accounts";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            
		@foreach (string s in Model) {
            @: s is equal to @s<br/>
        }	
        </section>
                
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
